#summary {
  margin-top: 20px;
  height: 100%;
  display: grid;
  grid-template-rows: 25% 75%;
  display: none;
}

#selectedItems #grayContainer {
  width: 80%;
  padding: 20px;
  background-color: hsl(217, 100%, 97%);
  border-radius: 10px;
}

#selectedPlan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#planCost {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}

hr {
  background-color: hsl(229, 24%, 87%);
  height: 1px;
  border-width: 0;
  margin: 10px 0;
}

.addonsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#total {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#totalCost {
  color: hsl(243, 100%, 62%);
}

#change {
  cursor: pointer;
  text-decoration-line: underline;
  margin-top: 0;
}

#change:hover {
  color: hsl(243, 100%, 62%);
}

#confirmButton {
  background-color: hsl(243, 100%, 62%);
}

#confirmButton:hover {
  filter: brightness(150%);
}

.addonsName {
  margin: 5px;
}

@media (max-width: 500px) {
  #summary {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 20px 20px 0 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    grid-template-rows: 30% 70%;
  }

  #selectedItems #grayContainer {
    width: 100%;
  }

  #total {
    width: 100%;
  }
}
